.footer {
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        @include adaptiveValue("margin-bottom", 60, 30, 1170, 767.98, 1);
        img {
            max-width: 100%;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        @include adaptiveValue("margin-bottom", 30, 20, 1170, 767.98, 1);
        li {
            &:not(:last-child) {
                @include adaptiveValue("margin-right", 35, 20, 1170, 767.98, 1);
            }
        }
    }

    &__link {
        font-family: "PT Sans";
        line-height: math.div(18, 14);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $gold;
            }
        }
    }

    &__socials {
        display: grid;
        grid-template-columns: repeat(6, rem(34));
        gap: rem(20);
        justify-content: center;
        @include adaptiveValue("margin-bottom", 40, 15, 1170, 320, 1);
        @media (max-width: $mobile) {
            grid-template-columns: repeat(3, rem(34));
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(34);
        height: rem(34);
        border-radius: 50%;
        border: rem(1) solid $gray_01;
        background-color: $white;
        transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
        color: $darkGrey;
        @media (any-hover: hover) {
            &:hover {
                background-color: $gold;
                color: $white;
            }
        }
        &::before {
            font-size: rem(14);
        }
    }

    &__copy {
        border-top: rem(1) solid $gray_01;
        width: 100%;
        text-align: center;
        @include adaptiveValue("padding-top", 30, 15, 1170, 767.98, 1);
        @include adaptiveValue("padding-bottom", 30, 15, 1170, 767.98, 1);
        font-family: "PT Sans";
        line-height: math.div(18, 14);
    }
}
