.main {
    position: relative;
    &__container {
        position: relative;
        z-index: 10;
    }

    &__body {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        @include adaptiveValue("padding-top", 60, 20, 1170, 767.98, 1);
        @include adaptiveValue("padding-bottom", 60, 20, 1170, 767.98, 1);
        @include adaptiveValue("min-height", 700, 400, 1170, 767.98, 1);
    }

    &__bg-ibg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            @include adaptiveValue("height", 300, 400, 1170, 767.98, 1);
            bottom: 0;
            left: 0;
            z-index: 2;
            background: linear-gradient(180deg, rgba(0, 0, 0, 6.5e-5) 0%, rgba(0, 0, 0, 0.65) 100%);
        }
    }
}

.body-main {
    @media (min-width: rem(580)) {
        max-width: rem(560);
    }
    &__category {
        font-family: "PT Sans";
        line-height: math.div(18, 14);
        text-transform: uppercase;
        color: $white;
        transition: color 0.3s ease 0s;
        &:not(:last-child) {
            margin-bottom: rem(5);
        }
        @media (any-hover: hover) {
            &:hover {
                color: $gold;
            }
        }
    }

    &__title {
        font-weight: bold;
        @include adaptiveValue("font-size", 40, 28, 1170, 479.98, 1);
        line-height: math.div(50, 40);
        color: $white;
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }

    &__bottom {
        line-height: math.div(19, 14);
        color: $white;
        display: flex;
        align-items: center;
    }

    &__date {
        color: inherit;
        margin-right: rem(15);
    }

    &__by {
        color: inherit;
        margin-right: rem(15);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $gold;
            }
        }
        span {
            color: $gray_02;
            margin-right: rem(5);
        }
    }

    &__comments {
        color: inherit;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $gold;
            }
        }
    }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

.body {
    &__container {
        @media (min-width: $mobile) {
            display: flex;
            gap: rem(20);
            justify-content: space-between;
        }
    }

    &__wrapper {
        @media (min-width: $mobile) {
            flex: 0 1 rem(770);
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: rem(30);
        margin-bottom: rem(60);
    }

    &__item {
        flex: 0 1 calc(50% - rem(15));
        @media (max-width: $tablet) {
            flex: 1 1 100%;
        }
        &._full {
            flex: 1 1 100%;
            .blog-item__image-ibg {
                padding-bottom: percent(350, 700);
            }
            .blog-item__body {
                text-align: left;
                align-items: flex-start;
                padding: rem(25) rem(30) rem(25) rem(30);
                @media (max-width: $mobile) {
                    padding: rem(15);
                }
            }
        }
    }

    &__pagination {
    }

    &__aside {
        @media (min-width: $mobile) {
            flex: 0 0 rem(270);
        }
    }
}

//========================================================================================================================================================

.aside-body {
    &__item {
    }

    &__wrap {
        background-color: $white;
        @include adaptiveValue("padding-bottom", 70, 20, 1170, 991.98, 1);
    }

    &__label {
        font-size: rem(16);
        line-height: math.div(21, 16);
        text-align: center;
        min-height: rem(50);
        border: rem(1) solid $gray_01;
        color: $dark;
        transition: border 0.3s ease 0s;
        width: 100%;
        margin-bottom: rem(20);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px rem(15);
        &::after {
            display: none;
        }
        @media (max-width: $mobile) {
            text-align: left;
            cursor: pointer;
            justify-content: space-between;
            &._spoller-active {
                &::after {
                    transform: rotate(-180deg);
                    color: $gold;
                }
            }
            &::after {
                display: block;
                transition: color 0.5s ease 0s, transform 0.5s ease 0s;
            }
            @media (any-hover: hover) {
                &:hover {
                    border: rem(1) solid $dark;
                }
            }
        }
    }
    &__post {
    }
}

.aside-author {
    box-shadow: 0 rem(2) rem(6) rgba(0, 0, 0, 0.1);
    text-align: center;
    &__image-ibg {
        display: block;
        padding-bottom: percent(180, 270);
        overflow: hidden;
        @media (max-width: $tablet) {
            display: none;
        }
        img {
            transition: transform 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__body {
        padding: rem(20) rem(20) rem(15) rem(20);
        border-bottom: rem(1) solid $gray_01;
    }

    &__name {
        display: block;
        font-weight: bold;
        font-size: 16px;
        line-height: math.div(21, 16);
        color: $dark;
        &:not(:last-child) {
            margin-bottom: rem(5);
        }
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $gold;
            }
        }
    }

    &__type {
        font-style: italic;
        line-height: math.div(19, 14);
        color: $gray_03;
        &:not(:last-child) {
            margin-bottom: rem(15);
        }
    }

    &__text {
        font-family: "PT Sans";
        line-height: math.div(24, 14);
    }

    &__continue {
        display: block;
        font-size: rem(12);
        line-height: math.div(16, 12);
        text-transform: uppercase;
        padding: rem(12);
        color: $gold;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $dark;
            }
        }
    }
}

.post-aside {
    box-shadow: 0 rem(2) rem(6) rgba(0, 0, 0, 0.1);
    background-color: $white;
    text-align: center;
    margin-bottom: rem(30);
    &__image-ibg {
        padding-bottom: percent(160, 270);
        display: block;
        overflow: hidden;
        @media (max-width: $tablet) {
            padding-bottom: 40%;
        }
        img {
            transition: transform 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }

    &__body {
        padding: rem(15) rem(10);
    }

    &__category {
        font-family: "PT Sans";
        display: block;
        margin-bottom: rem(5);
        font-size: rem(12);
        line-height: math.div(16, 12);
        text-transform: uppercase;
        color: $gold;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $dark;
            }
        }
    }

    &__title {
        font-size: rem(18);
        line-height: math.div(26, 18);
        color: $dark;
        display: inline-flex;
        flex: 1 1 auto;
        margin-bottom: rem(10);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $gold;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__date {
        color: $darkGrey;
        margin-right: rem(15);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $gold;
            }
        }
    }

    &__by {
        color: $darkGrey;
        font-size: rem(12);
        line-height: math.div(16, 12);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $gold;
            }
        }
        span {
            color: $gray_03;
            margin-right: rem(5);
        }
    }
}

.categories-aside {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: math.div(19, 14);
        transition: color 0.3s ease 0s;
        &:not(:last-child) {
            padding-bottom: rem(15);
            margin-bottom: rem(15);
            border-bottom: rem(1) solid $gray_01;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $gold;
            }
        }
    }

    &__category {
        margin-right: rem(20);
    }

    &__number {
    }
}

.social-aside {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(3);
    &__item {
        padding: rem(17) rem(10) rem(13) rem(10);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        background-color: $gray_06;
        @media (any-hover: hover) {
            &:hover {
                .social-aside__icon {
                    color: $gold;
                }
            }
        }
    }

    &__icon {
        &._icon-be {
            &::before {
                font-size: rem(15);
            }
        }
        margin-bottom: rem(6);
        color: #5a5a5a;
        transition: all 0.3s ease 0s;
        &::before {
            font-size: rem(20);
        }
    }

    &__number,
    &__text {
        font-family: "PT Sans";
        font-size: rem(12);
        line-height: math.div(16, 12);
        color: $gray_05;
    }

    &__text {
    }
}

.tags-aside {
    gap: rem(10);
    display: flex;
    flex-wrap: wrap;
    &__tag {
        line-height: math.div(19, 14);
        padding: rem(5) rem(14);
        background: $gray_06;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $gold;
            }
        }
    }
}

//========================================================================================================================================================

.gallery {
    &__title {
        text-align: center;
        @include adaptiveValue("margin-bottom", 40, 30, 1170, 767.98, 1);
        font-size: rem(24);
        line-height: math.div(32, 24);
        a {
            color: $dark;
            transition: all 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                a {
                    color: $gold;
                }
            }
        }
    }

    &__body {
        display: grid;
        padding: 0 rem(20);
        grid-template-columns: repeat(6, 1fr);
        gap: rem(20);
        @media (max-width: $pc) {
            padding: 0px rem(15);
        }
        @media (max-width: $tablet) {
            grid-template-columns: repeat(5, 1fr);
        }
        @media (max-width: $mobile) {
            gap: rem(10);
            grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: $mobileSmall) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__item-ibg {
        display: block;
        padding-bottom: 100%;
        overflow: hidden;
        img {
            transition: transform 0.3s ease 0s;
        }
        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }
        @media (max-width: $tablet) {
            &:nth-child(1) {
                display: none;
            }
        }
        @media (max-width: $mobile) {
            &:nth-child(2) {
                display: none;
            }
        }
        @media (max-width: $mobileSmall) {
            &:nth-child(1),
            &:nth-child(2) {
                display: block;
            }
        }
    }
}
